/* GLOBAL STYLES */
body {
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
}


/* HOME-PAGE STYLES */
.bg {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.hero-home {
  display: flex;
  justify-content:space-around;
  align-items:center;
}

#home-pic-container{
  position: relative;
}

#iphone-svg {
  height: 675px;
}

div.screen-content {
  position: absolute;
/*  width: 285px;
  height: 508px;
  top: 12.3%;
  left: 9%;*/

  width: 286px;
  height: 505px;
  top: 11%;
  left: 8%;
}

/*Hiding these elements of the JQuery bot*/
.jsm-bot-info, .jsm-status-navbar, .jsm-messenger-flash, .jsm-chat-progress-indicator {
  display:none;
}

.project {
  display: flex;
  align-items:center;
  flex-wrap:wrap;
}

.collapsible {
  border: none;
  box-shadow: none;
  margin: none;
}

.collapsible-body, .collapsible-header {
  border-bottom: none;
}

.card {
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  transition: all 0.2s ease;
}

.card:hover{
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
}


#carousel-next {
  position: absolute;
  bottom: 3%;
  right:3%;
}


/* Adjusting the image height on messenger bot on homepage*/
.jsm-title-hidden {
  display: none !important;
}
.jsm-image {
  padding-top:80% !important;
  border-bottom-left-radius: 1.55em !important;
  border-bottom-right-radius: 1.55em !important;
}

/* Hiding type a message box on homepage */
.jsm-input-message {
  display: none;
}

/*Adjusting the fontsize of the chat content*/
.jsm-chat-content {
  font-size: 1.2em !important;
}

/* fixing the spacing in the quick reply buttons*/
.jsm-quick-replies-container {
  display:flex !important;
  justify-content:space-around;
}

.jsm-chat-content .jsm-chat-message.jsm-right {
  background:#546de5 !important;
  border:1px solid #546de5 !important;
}

.jsm-bottom-bar .jsm-quick-replies .jsm-quick-replies-container .jsm-quick-reply-option {
  border:1px solid #546de5 !important;
  color: #546de5;
}
